.container {
	width: 1224px;
	height: inherit;
	/* border: 1px solid black; */
	margin: 0 auto;
}
/* //container */
.header {
	height: 89px;
}
.header .container {
	display: flex;
}
.header .nav ul {
	display: flex;
	padding: 32px 0;
	margin: 0;
}
.header .nav ul li {
	list-style: none;
	letter-spacing: -1px;
	font-size: 1.125rem;
	font-weight: 400;
	margin: 0 10px;
}
.header .nav ul li:nth-child(4),
.header .nav ul li:nth-child(7) {
	border-right: 1px solid #999;
	padding-right: 20px;
}
.header .nav_log {
	display: flex;
	flex-grow: 1;
	justify-content: flex-end;
  align-items: center;
	letter-spacing: -1px;
	color: #666;
	margin-right: 30px;
}
.header .nav_log span a {
	padding: 0 6px;
}
.header .nav_log span:nth-child(2) {
	border-left: 1px solid #666;
	margin-right: 6px;
}
.header .nav_log span.mygbia_box {
	font-size: 0.875rem;
	background-color: #9ca0a7;
	padding: 3px 9px;
	border-radius: 2px;
	color: #fff;
	margin: 0 3px;
	font-weight: 400;
}

/* //header */

.banner {
	height: 400px;
	background-color: #2B4581;
}


/* //banner */

.search {
	height: 85px;
	background: #FBFAF8;
}
.search .container {
	padding: 15px 0;
}

.search .domain_box {
	display: flex;
	border: 1px solid #ccc;
	border-radius: 3px;
}
.search .btn_text {
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 53px;
	padding: 0 15px 0 20px;
	background-color: #fff;
}
.search input {
	border: 0;
	font-size: 1.25rem;
  font-weight: 300;
	letter-spacing: -1px;
	flex-grow: 1;
}
.search input::placeholder {
	color: #ccc;
}
.search .domin_btn {
	width: 130px;
	background-color: #2C8BCB;
	color: #fff;
	font-size: 1.25rem;	
}
.search .domin_btn span {
	margin-left: 5px;
	font-weight: 400;
	letter-spacing: -1px;
}
/* //search */
.select {
	/* background-color: rgb(248, 248, 190); */
}
.select .container {
	display: flex;
	padding: 40px 0;
}
.select .container div {
	width: 25%;
	text-align: center;
	border: 1px solid #ccc;
	margin-left: 20px;
	padding: 20px 42px;
	border-radius: 3px;
}
.select .container div:first-child {
	margin-left: 0;
}
.select p.select_fi_p {
	font-size: 20px;
	font-weight: 400;
	letter-spacing: -1px;
	margin: 0;
}
.select p.select_se_p {
	font-size: 1rem;
	font-weight: 300;
	letter-spacing: 0;
	margin: 5px 0 0 0;
	color: #666;
}
/* //search */
.news {
	/* height: 239px; */
}
.news .container {
	display: flex;
}
.news .container > div {
	width: 50%;
	margin-bottom: 70px;
}
.news .container > div:first-child {
	margin-right: 20px;
}
.news .container > div div {
	border-top: 2px solid #333;
	padding-top: 10px;
	margin-top: 15px;
}
.news .container div span {
	font-size: 1.75rem;
	font-weight: 400;
	letter-spacing: -1px;
}
.news .container div .all_look {
	font-weight: 300;
	color: #666;
	letter-spacing: -1px;
	margin-left: 20px;
}
.news .container div div ul {
	display: flex;
	padding: 0;
}
.news .container div div ul li:first-child {
	font-size: 14px;
	background-color: #666;
	width: 70px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	color: #fff;
	border-radius: 3px;
	margin-right: 10px;
}
.news .container div div ul li:nth-child(2) {
	font-weight: 300;
	letter-spacing: -1px;
	color: #333;
}
.news .container div div ul li:last-child {
	flex-grow: 1;
	text-align: right;
	font-weight: 300;
	letter-spacing: -1px;
	color: #999;
}
.news div ul {
	display: flex;
}
.news div ul li {
	list-style: none;
}
/* //news */
.banner2 {
	height: 706px;
	background-color: #1B71B8;
}
/* //banner2 */

.question {
	/* height: 278px; */
	/* background-color: rgb(248, 248, 190); */
}
.question .container {
	padding-bottom: 70px;
}

.question div p:first-child {
	margin: 0;
	font-size: 40px;
	font-weight: 300;
	letter-spacing: -1px;
	text-align: center;
	padding-top: 70px;
}
.question div p:last-child {
	text-align: center;
	color: #666;
	margin-top: 15px;
}
.question div.question_menu {
	text-align: center;
}
.question div a {
	display: inline-block;
	border: 1px solid;
	width: 180px;
	height: 44px;
	line-height: 44px;
	font-weight: 400;
	letter-spacing: -1px;
	color: #333;
	border-radius: 3px;
	margin: 30px 15px 40px 0;
}
.question div .question_num {
	display: flex;
	justify-content: center;
}
.question div .question_num div {
	padding: 0 15px;
}
.question div .question_num span:first-child {
	margin-right: 10px;
	font-size: 1rem;
	font-weight: 300;
	letter-spacing: -0.03px;
	color: #666;
}
.question div .question_num span:last-child {
	font-weight: 300;
	letter-spacing: -0.06px;
	color: #1d7abd;
}
.question div ul {
	display: flex;
	justify-content: center;
	margin: 0;
}
.question div ul li {
	font-weight: 300;
	letter-spacing: -0.03px;
	color: #666;
	margin: 20px 40px 0 0;
}
/* //question */
.library {
	/* height: 534px; */
	/* background-color: beige; */
}
.library .library_head {
	font-size: 34px;
	font-weight: 400;
	letter-spacing: -1px;
	color: #333;
	padding: 70px 0 30px 0;
}
.library .library_body {
	display: flex;
}
.library .library_body > div {
	width: 25%;
	border-top: 2px solid #6f6f6f;
	padding-top: 24px;
	margin-right: 20px;
	
}
.library .library_body  a {
	display: block;
	/* margin-right: 20px; */
}
.library .library_body  a:nth-of-type(1) {
	font-size: 22px;
	font-weight: 300;
	letter-spacing: -1px;
	color: #333;
	line-height: 24px;
	/* border-top: 2px solid #6f6f6f;
	padding-top: 24px;  */
}
.library .library_body  a:nth-of-type(2) {
	font-weight: 300;
	letter-spacing: -1px;
	color: #666;
	margin-top: 10px;
}
.library .library_body img {
	margin-top: 40px;
	border-radius: 5px;
	/* width: 100%; */
}
.library .library_body img.img_margin {
	margin-top: 65px;
}
/* //library */
.noticewrap {
	/* height: 264px; */
	/* background-color: rgb(248, 248, 190); */
}
.noticewrap .container {
	display: flex;
}
.noticewrap .container > div {
	margin-top: 70px;
}
.noticewrap .container > div:first-child {
	flex: 2;
	margin-right: 20px;
}
.noticewrap .container > div:last-child {
	flex: 1;
}
.noticewrap .container > div > span {
	display: inline-block;
	font-size: 34px;
	font-weight: 400;
	letter-spacing: -1px;
	color: #333;
} 
.noticewrap .container > div > a {
	font-weight: 300;
	letter-spacing: -1px;
	color: #666;
	margin-left: 20px;
}
.noticewrap .container .noticewrap_left ul {
	padding: 0;
	border-top: 2px solid #6f6f6f;
	margin-top: 10px;
}
.noticewrap .container .noticewrap_left ul li {
	display: flex;
	padding: 21px 10px;
	border-bottom: 1px solid #e5e5e5;
	
}
.noticewrap .container .noticewrap_left ul li a {
	flex-grow: 1;
	font-weight: 300;
	letter-spacing: -1px;
	color: #333;
}
.noticewrap .container .noticewrap_left ul li span {
	font-weight: 300;
	color: #999;
}
.noticewrap .container .noticewrap_right ul {
	margin: 10px 0 0 0;
	padding: 30px 0 38px 20px;
	border-top: 2px solid #6f6f6f;
	border-bottom: 1px solid #e5e5e5;
}
.noticewrap .container .noticewrap_right ul li {
	display: flex;
}
.noticewrap .container .noticewrap_right ul li span:first-child {
	display: inline-block;
	background-color: #666;
	color: #fff;
	font-weight: 300;
	letter-spacing: -1px;
	padding: 0 5px;
	border-radius: 2px;
}
.noticewrap .container .noticewrap_right ul li span:last-child {
	margin-left: 10px;
	font-weight: 300;
	letter-spacing: -1px;
	color: #999;
}
.noticewrap .container .noticewrap_right ul li:nth-child(2),
.noticewrap .container .noticewrap_right ul li:nth-child(3) {
	margin-top: 30px;
}
/* //noticewrap */
.sitemap {
	height: 1197px;
	background-color: beige;
}
.sitemap .container .sitemap_top > ul {
	display: flex;
}














/* //sitemap */







.footer {
	height: 348px;
	background-color: rgb(248, 248, 190);
}
