.container {
	width: 1224px;
	height: inherit;
	/* border: 1px solid black; */
	margin: 0 auto;
}
/* //container */
.header {
	height: 89px;
}
.header .container {
	display: flex;
}
.header .nav ul {
	display: flex;
	padding: 32px 0;
	margin: 0;
}
.header .nav ul li {
	list-style: none;
	letter-spacing: -2px;
	font-size: 1.125rem;
	font-weight: 400;
	margin: 0 10px;
}
.header .nav ul li:nth-child(4),
.header .nav ul li:nth-child(7) {
	border-right: 1px solid #999;
	padding-right: 20px;
}
.header .nav_log {
	display: flex;
	flex-grow: 1;
	justify-content: flex-end;
    align-items: center;
	letter-spacing: -1px;
	color: #666;
	margin-right: 30px;
}
.header .nav_log span a {
	padding: 0 6px;
}
.header .nav_log span:nth-child(2) {
	border-left: 1px solid #666;
	margin-right: 6px;
}
.header .nav_log span.mygbia_box {
	font-size: 0.875rem;
	background-color: #9ca0a7;
	padding: 3px 9px;
	border-radius: 2px;
	color: #fff;
	margin: 0 3px;
	font-weight: 400;
}

/* //header */

.banner {
	/* height: 400px; */
	background-color: #2B4581;
}
.banner .container {
	border: 1px solid black;
	padding: 20px 30px;
	box-sizing: border-box;
	color: #fff;
	display: flex;
	flex-direction: column;
}
.banner .banner_text p:first-child {
	margin: 0;
	font-size: 40px;
    font-weight: 400;
    line-height: 50px;
	letter-spacing: -3px;
	padding-top: 50px;
}
.banner .banner_text p:last-child {
	font-size: 18px;
    font-weight: 100;
	letter-spacing: -2px;
	margin: 10px 0 0 0;
}
.banner .btn_look {
	width: 75px;
	border: 1px solid #fff;
	padding: 12px 42px;
	margin-top: 30px;
	font-weight: 400;
	letter-spacing: -2px;
	border-radius: 2px;
}



/* //benner */











/* //banner */

.search {
	height: 85px;
	background-color: beige;
}
.select {
	height: 202px;
	background-color: rgb(248, 248, 190);
}
.news {
	height: 239px;
	background-color: beige;
}
.question {
	height: 278px;
	background-color: rgb(248, 248, 190);
}
.library {
	height: 534px;
	background-color: beige;
}
.noticewrap {
	height: 264px;
	background-color: rgb(248, 248, 190);
}
.sitemap {
	height: 1197px;
	background-color: beige;
}
.footer {
	height: 348px;
	background-color: rgb(248, 248, 190);
}
