.container {
	width: 1224px;
	height: inherit;
	/* border: 1px solid black; */
	margin: 0 auto;
}
/* //container */
.header {
	height: 89px;
}
.header .container {
	display: flex;
}
.header .nav ul {
	display: flex;
	padding: 32px 0;
	margin: 0;
}
.header .nav ul li {
	list-style: none;
	letter-spacing: -1px;
	font-size: 1.125rem;
	font-weight: 400;
	margin: 0 10px;
}
.header .nav ul li:nth-child(4),
.header .nav ul li:nth-child(7) {
	border-right: 1px solid #999;
	padding-right: 20px;
}
.header .nav_log {
	display: flex;
	flex-grow: 1;
	justify-content: flex-end;
  align-items: center;
	letter-spacing: -1px;
	color: #666;
	margin-right: 30px;
}
.header .nav_log span a {
	padding: 0 6px;
}
.header .nav_log span:nth-child(2) {
	border-left: 1px solid #666;
	margin-right: 6px;
}
.header .nav_log span.mygbia_box {
	font-size: 0.875rem;
	background-color: #9ca0a7;
	padding: 3px 9px;
	border-radius: 2px;
	color: #fff;
	margin: 0 3px;
	font-weight: 400;
}

/* //header */

.banner {
	height: 400px;
	background-color: #2B4581;
}


/* //banner */

.search {
	height: 85px;
	background: #FBFAF8;
}
.search .container {
	padding: 15px 0;
}

.search .domain_box {
	display: flex;
	border: 1px solid #ccc;
	border-radius: 3px;
}
.search .btn_text {
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 53px;
	padding: 0 15px 0 20px;
	background-color: #fff;
}
.search input {
	border: 0;
	font-size: 1.25rem;
  font-weight: 300;
	letter-spacing: -1px;
	flex-grow: 1;
}
.search input::placeholder {
	color: #ccc;
}
.search .domin_btn {
	width: 130px;
	background-color: #2C8BCB;
	color: #fff;
	font-size: 1.25rem;	
}
.search .domin_btn span {
	margin-left: 5px;
	font-weight: 400;
	letter-spacing: -1px;
}
/* //search */
.select {
	/* background-color: rgb(248, 248, 190); */
}
.select .container {
	display: flex;
	padding: 40px 0;
}
.select .container div {
	width: 25%;
	text-align: center;
	border: 1px solid #ccc;
	margin-left: 20px;
	padding: 20px 42px;
	border-radius: 3px;
}
.select .container div:first-child {
	margin-left: 0;
}
.select p.select_fi_p {
	font-size: 20px;
	font-weight: 400;
	letter-spacing: -1px;
	margin: 0;
}
.select p.select_se_p {
	font-size: 1rem;
	font-weight: 300;
	letter-spacing: 0;
	margin: 5px 0 0 0;
	color: #666;
}
/* //search */
.news {
	/* height: 239px; */

}
.news .container {
	display: flex;
}
.news .container > div {
	width: 50%;
	margin-bottom: 70px;
}
.news .container > div:first-child {
	margin-right: 20px;
}
.news .container > div div {
	border-top: 2px solid #333;
	padding-top: 20px;
	margin-top: 15px;
}

.news .container div span {
	font-size: 1.75rem;
	font-weight: 400;
	letter-spacing: -1px;
}
.news .container div .all_look {
	font-weight: 300;
	color: #666;
	letter-spacing: -1px;
	margin-left: 20px;
}
.news .container div div ul {
	display: flex;
	padding: 0;
}
.news .container div div ul li:first-child {
	font-size: 14px;
	background-color: #666;
	width: 70px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	color: #fff;
	border-radius: 3px;
	margin-right: 10px;
}
.news .container div div ul li:nth-child(2) {
	font-weight: 300;
	letter-spacing: -1px;
	color: #333;
}
.news .container div div ul li:last-child {
	flex-grow: 1;
	text-align: right;
	font-weight: 300;
	letter-spacing: -1px;
	color: #999;
}














.news div ul {
	display: flex;
}
.news div ul li {
	list-style: none;
}



















/* //news */
.question {
	height: 278px;
	background-color: rgb(248, 248, 190);
}
.library {
	height: 534px;
	background-color: beige;
}
.noticewrap {
	height: 264px;
	background-color: rgb(248, 248, 190);
}
.sitemap {
	height: 1197px;
	background-color: beige;
}
.footer {
	height: 348px;
	background-color: rgb(248, 248, 190);
}
